<!DOCTYPE html>
<html>
<html lang="en">
<% include ../partials/head.ejs %>
<body>
<% include ../partials/header.ejs %>
    <div class="container">
      <h3><a href="/stores">Store List</a></h3>
      <h1>Edit Store</h1>
      <form action="/stores/update/<%= store._id%>" method="post">
        <table>
          <tbody>
            <tr>
              <td>Name</td>
              <td><input type="text" name="name" value="<%= store.name %>" /></td>
            </tr>
            <tr>
              <td>Address</td>
              <td><input type="text" name="address" value="<%= store.address %>" /></td>
            </tr>
            <tr>
              <td>City</td>
              <td><input type="text" name="city" value="<%= store.city %>" /></td>
            </tr>
            <tr>
              <td>State</td>
              <td><input type="text" name="state" value="<%= store.state %>" /></td>
            </tr>
            <tr>
              <td colspan="2"><button type="submit">Update</button></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
    <% include ../partials/footer.ejs %>
  </body>
</html>
