<!DOCTYPE html>
<html lang="en">
<% include ../partials/head.ejs %>
<body>
<% include ../partials/header.ejs %>
<div class="container">
  <h3><a href="/stores/create">Create Store</a></h3>
  <h1>Store List</h1>
  <% if(stores.length>0) { %>
  <div class="container">
    <% for(var i=0; i<stores.length;i++) { %>
      <div class="row">
        <h3 class="col-xs-12"><%= stores[i].name%></a></h3>
        <h4 class="col-xs-12"><%= stores[i].tier%></h4>
        <div class="col-xs-12"><%= stores[i].address%>, <%= stores[i].city%>, <%= stores[i].state%></div>
        <div class="col-xs-12"><%= stores[i].generalComments%></div>
        <div class="col-xs-12"><a class="btn btn-default" role="button" href="/stores/show/<%= stores[i]._id%>">View details</a></div>
      </div>
    <% } %>
  </div>
  <% } else { %>
    <div class="row">No stores found.</div>
  <% } %>
</div>
<% include ../partials/footer.ejs %>
</body>
</html>
