<!DOCTYPE html>
<html>
  <% include ../partials/head.ejs %>
  <title>Store Detail</title>
  <body>
    <div class="logged-in-wrapper">
      <% include ../partials/header.ejs %>
      <div class="container store-details content">
        <div class="form-group row page-header">
          <h1>Store Details</h1>
          <a class="btn btn-primary col-sm-2 btn-corner" role="button" href="/stores">
            <i class="fa fa-lg fa-home" aria-hidden="true"></i>
          </a>
        </div>



      <div class="row result-container">
        <div class="store-box">
          <div class="store-round">
            <a href="#" class="sprite-tier">
              <% var tier = store.tier.toLowerCase() %>
              <div class="sprite-tier label"><%= tier %></div>
              <img class="sprite-tier" src="/images/<%= tier %>.png" alt= <%= tier %> />
            </a>
          </div><%/*closes store round*/%>

          <h3><%= store.name%></h3>
          <strong class="address"><%= store.address%>, <%= store.city%>, <%= store.state%></strong>

        <div class="row paperwork-row">
          <% if(store.havePaperwork){ %>
            <div class="col-xs-12 col-sm-6">
              <p>
                <i class="fa fa-check fa-lg fa-space-after" aria-hidden="true"></i>
                Paperwork has been submitted
              </p>
            </div>
          <% } else { %>
            <div class="col-xs-12 col-sm-6">
              <p>
                <i class="fa fa-times fa-lg fa-space-after" aria-hidden="true"></i>
                Paperwork NOT submitted
              </p>
            </div>
          <% } %>

          <% if(store.wantPaperworkBack){ %>
            <div class="col-xs-12 col-sm-6">
              <p>
                <i class="fa fa-check fa-lg fa-space-after" aria-hidden="true"></i>
                Paperwork must be returned
              </p>
            </div>
          <% } else { %>
            <div class="col-xs-12 col-sm-6">
              <p>
                <i class="fa fa-times fa-lg fa-space-after" aria-hidden="true"></i>
                Paperwork NOT to be returned
              </p>
            </div>
          <% } %>
        </div> <%/* closes row paperwork-row */%>

      <p class="gen-comments"><%= store.generalComments%></p>

      <div class="col-xs-12">
          <form class="btn-row" action="/stores/delete/<%= store._id%>" method="post">
            <a class="btn btn-primary raised" role="button" href="/stores/edit/<%= store._id%>"><i class="fa fa-fw fa-pencil-square-o" aria-hidden="true"></i>Edit Store</a>
            <button class="btn btn-danger raised" type="submit">
              <i class="fa  fa-fw fa-trash-o" aria-hidden="true"></i>DELETE
            </button>
          </form>
        </div>
      </div> <%/* store-box */%>
      </div> <%/* row*/%>
    </div>
  </div>
    <% include ../partials/footer.ejs %>
  </body>
</html>
