<!doctype html>
<html>
<% include ../partials/head.ejs %>
<body>
  <% include ../partials/header.ejs %>
  <div class="container main">

    <div class="page-header text-center">
      <h1>Profile Page</h1>
    </div>

    <div class="row">

      <!-- LOCAL INFORMATION -->
      <div class="col-sm-12">
        <div class="well">
          <h3><span class="fa fa-user fa-space-after"></span>
            <%= user.info.firstName + " " + user.info.lastName %>
          </h3>
          <div class="row">
            <p class="col-x2-12 col-sm-3 profile-label">Email</p>
            <p class="col-xs-12 col-sm-9"><%= user.local.email %></p>
          </div>
          <div class="row">
            <p class="col-x2-12 col-sm-3 profile-label">Phone</p>
            <p class="col-xs-12 col-sm-9"><%= user.info.phone %></p>
          </div>
          <div class="row">
            <p class="col-x2-12 col-sm-3 profile-label">Address</p>
            <p class="col-xs-12 col-sm-9"><%= user.info.streetAddress%><br>
              <%= user.info.city %>, <%= user.info.state %> <%= user.info.zip %></p>
          </div>
          <div class="row">
            <p class="col-x2-12 col-sm-3 profile-label">Company</p>
            <p class="col-xs-12 col-sm-9"><%= user.info.company %></p>
          </div>
          <div class="row">
            <p class="col-x2-12 col-sm-3 profile-label">Position</p>
            <p class="col-xs-12 col-sm-9"><%= user.info.position %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% include ../partials/footer.ejs %>
</body>
</html>
